{% extends 'base.html' %}
{% load main_extras %}
{% block content %}
<div class="container">
    {% for post in posts %}
    <div class="divider "></div>
    <div class="section">
        <!--<a href="{% url 'blog:post' post.id %}"></a>!-->
        <h5 >{{post.title|capfirst}}</h5>
        <p >{% autoescape off %}{{post.content|cut}}{% endautoescape %}<a href="{% url 'blog:post' post.id %}"> Mas..</a></p>
    </div>
    {% empty %}
    <h5 class="center center">No hay posts</h5>
    {% endfor %}
</div>
{% endblock %}
